<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </h2>
    <h3> <%= restaurant.description %> </h3>
    <% restaurant.reviews.each do |review| %>
      Rating: <%= review.rating %>
      <br>
      Thoughts: <%= review.thoughts %>
      <br>
    <% end %>
    <br>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<%= link_to 'Add a restaurant', new_restaurant_path %>

